{{define "index"}}
<!doctype html>
<html>
    <head>
        <title>Elevator</title>
    </head>

    <body>
        <h1>Elevators</h1>

        <main>
            <div id="elevators">
                {{range .}}
                <div>
                    <h4>Id: <span></span>{{.Id}}</span></h4>
                    <h4>Floor: <span>{{.CurrentFloor}}</span></h4>
                </div>
                {{end}}
            </div>

            <div>
                <span>
                    <label for="elevatorId">Elevator Id</label>
                    <select id="elevatorId" name="elevatorId">
                        {{range .}}
                        <option value="{{.Id}}">{{.Id}}</option>
                        {{end}}
                    </select>
                </span>

                <input id="value" type="text" min="0" max="20" value="0" />
                <button id="request">Request</button>
            </div>
        </main>
    </body>
</html>

<script>
    function bindListeners() {
        const input = document.querySelector("#value");
        const button = document.querySelector("#request");
        const elevator = document.querySelector("#elevatorId");

        button.addEventListener("click", async () => {
            const requestedFloor = Number(input.value);
            const elevatorId = elevator.value;

            const resp = await fetch("request-elevator", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ requestedFloor, elevatorId }),
            }).then(async (data) => await data.json());

            const pollingId = setInterval(async () => {
                await fetch("state")
                    .then((res) => res.text())
                    .then((html) => {
                        document.getElementById("elevators").innerHTML = html;
                        bindListeners();
                    });
            }, 1000);

            const cleanupId = setTimeout(() => {
                clearInterval(pollingId);
                clearTimeout(cleanupId);
            }, resp.teardown);
        });
    }

    bindListeners();
</script>
{{end}}
